logs
*.log
npm-debug.log*
# Runtime data
pids
*.pid
*.seed
*.pid.lock
.DS_Store

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm


package.json
package-lock.json
